* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: #151a2936;
}

/* general header stylings */
h1, h2, h3 {
    letter-spacing: 3px;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}

/* header style */
header {
    padding-top: 30px;
    background-color: #cce0f7;
    color: #333;
    text-align: center;
    letter-spacing: 1px;
}

/* paragraph in header needed some padding */
#paragraph-header {
    padding: 20px;
} 

/* nav bar style */
.nav-bar {
    background-color: #00ABE4;
    color: #333;
    overflow: hidden;
    width: 100%;
    position: relative;
    letter-spacing: 1px;
}

/* nav bar links style */
.nav-bar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

/* changes the background-color of the link to cyan when hover */
.nav-bar a:hover {
    background-color: cyan;
}

/* General section styling that will apply to ALL sections */
.section-style {
    border: 2px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
}

/* Main section styling */
.main-header-text {
    padding: 10px;

}
ul {
    list-style-type: none;
}
li {
    padding: 5px;
}

/* Main images */
.main-images {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.main-images img {
    width: 32%;
    height: 335px;
    object-fit: cover;
}
