* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: #F5FCFF;
    color: #fff;

}

/* general header stylings */
h1, h2, h3 {
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}

/* header style */
header {
    padding-top: 30px;
    background-color: #0D1B2A;
    color: #ECEFF1;
    text-align: center;
    letter-spacing: 1px;
}
#first-h1 {
    font-size: 48px;
}
/* paragraph in header needed some padding */
#paragraph-header {
    padding: 20px;
    font-size: 24px;
} 

/* nav bar style */
.nav-bar {
    background-color: #1E293B;
    overflow: hidden;
    width: 100%;
    position: relative;
}

/* nav bar links style */
.nav-bar a {
    float: left;
    display: block;
    color:#ECEFF1;
    text-align: center;
    padding: 14px 20px;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    
}

/* changes the background-color of the link to cyan when hover */
.nav-bar a:hover {
    background-color: #306BAC;
}

/* General section styling that will apply to ALL sections */
.section-style {
    padding: 2rem;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    color: #333333;
    border: 2px solid #f2f2f2;
    border-radius: 10px;
}

/* Main section styling */
.header2-text {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #008080;

}
.h2-paragraphs {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #333333;
}
/* list styling for all lists */
ul {
    list-style-type: circle;
    margin-left: 2rem;
}
/* labels for all lists */
.labels, h2 {
    margin-top: 3px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    padding: 5px;
    color: #008080;
}

li {
    margin: 16px 5px 10px 0;
    font-size: 18px;
}

/* Main images */
.main-images {
    display: flex;
    justify-content: space-between;
}

.image-container {
    width: 32%;
    padding-bottom: 20%;
    position: relative;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}

/* list images for the essentials */

.list-item {
    display: flex;
    align-items: center;
}

.item-text {
    flex: 1;
}

/* image container */
.list-image {
    height: 150px;
    width: auto;
    max-width: 300px;
}

.list-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


